<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :address do |address_form| %>
    <div>
      <%= address_form.label :street, style: "display: block" %>
      <%= address_form.text_field :street %> 
    </div>
    <div>
      <%= address_form.label :city, style: "display: block" %>
      <%= address_form.text_field :city %>
    </div>
    <div>
      <%= address_form.label :country, style: "display: block" %>
      <%= address_form.text_field :country %>
    </div>
    <div>
      <%= address_form.label :postcode, style: "display: block" %>
      <%= address_form.text_field :postcode %>
    </div>
    <div>
      <%= address_form.label :company_name, style: "display: block" %>
      <%= address_form.text_field :company_name, value: team.company&.name %>
    </div>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
