<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :address do |address_form| %>
    <div class="field form-group col-md-3 col-sm-12 mb-3">
      <%= address_form.label :street, class: "form-label" %>
      <%= address_form.text_field :street, class: "form-control" %> 
    </div>
    <div class="field form-group col-md-3 col-sm-12 mb-3">
      <%= address_form.label :city, class: "form-label" %>
      <%= address_form.text_field :city, class: "form-control" %>
    </div>
    <div class="field form-group col-md-3 col-sm-12 mb-3">
      <%= address_form.label :country, class: "form-label" %>
      <%= address_form.text_field :country, class: "form-control" %>
    </div>
    <div class="field form-group col-md-3 col-sm-12 mb-3">
      <%= address_form.label :postcode, class: "form-label" %>
      <%= address_form.text_field :postcode, class: "form-control" %>
    </div>
    <div class="field form-group col-md-3 col-sm-12 mb-3">
      <%= address_form.label :company_name, class: "form-label" %>
      <%= address_form.text_field :company_name, value: team.company&.name, class: "form-control" %>
    </div>
  <% end %>
  <div class="actions col-12 col-md-3">
    <%= form.submit class: "btn btn-primary mb-3 w-100" %>
  </div>
<% end %>
