<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating col-md-3 col-sm-12 mb-4">
    <%= form.text_field :first_name, class: "form-control", required: true %>
    <%= form.label :first_name, t("user.edit.first-name-label")  %>
    
  </div>

  <div class="form-floating col-md-3 col-sm-12 mb-4">
    <%= form.text_field :last_name, class: "form-control", required: true %>
    <%= form.label :last_name, t("user.edit.last-name-label")  %>
  </div>

  <div class="form-floating col-md-3 col-sm-12 mb-4">
    <%= form.telephone_field :phone_number, class: "form-control" %>
    <%= form.label :phone_number  %>
    
  </div>

  <div class="field form-check col-md-3 col-sm-12 mb-4">
    <%= form.check_box :sms_opt_in, class: "form-check-input" %>
    <%= form.label :sms_opt_in, class: "form-check-label", class: "form-label"  %>
    <div class="form-text mb-2"><%= t("user.sms-opt-in.explainer") %></div>
  </div>

  <% if current_user.admin? %>
    <div class="form-floating col-md-3 col-sm-12 mb-4">
      <%= form.select :company_id, Company.all.map { |company| [company.name, company.id] }, {}, class: "form-control" %>
      <%= form.label :company_id, class: "form-label" %>
    </div>
  <% end %>

  <% if (current_user.admin? || current_user.company_admin?) && @user.company.present? %>
    <div class="form-floating col-md-3 col-sm-12 mb-4">
      <%= form.select :team_id, Team.where(company_id: user.company.id).map { |team| [team.address.one_line, team.id] }, {}, class: "form-control" %>
      <%= form.label :team_id, class: "form-label" %>
    </div>
  <% elsif current_user.admin? %>
    <div class="form-floating col-md-3 col-sm-12 mb-4">
      <%= form.select :team_id, Team.all.map { |team| [team.address.one_line, team.id] }, {}, class: "form-control" %>
      <%= form.label :team_id, class: "form-label" %>
    </div>
  <% end %>

  <% if current_user.admin? || current_user.company_admin? %>
    <div class="form-floating col-md-3 col-sm-12 mb-4">
      <%= form.select :role, User.roles.keys.map{|role| [role.humanize, role]}, {prompt: "Select role"}, {class: "form-control form-select", required: true} %>
      <%= form.label :role  %>
    </div>
  <% end %>

  <div class="actions col-12 col-md-3">
    <%= form.submit class: "btn btn-primary mb-3 w-100" %>
  </div>
<% end %>
