<tr>
  <td><%= user.created_at.strftime('%Y-%m-%d %H:%M') %></td>
  <td><%= user.full_name %></td>
  <td><%= user.role&.humanize || 'Guest' %></td>
  <% if current_user.admin? %>
    <td><%= user.team&.address&.one_line || '-' %></td>
    <td><%= user.company&.name || '-' %></td>
  <% end %>
  <td>
    <% if user == current_user || current_user.admin? || (user.team == current_user.team && current_user.company_admin? && !user.admin?)|| (user.team == current_user.team && current_user.team_admin? && user.normal?) %>
      <%= link_to edit_user_path(user), data: { turbo: false } do %>
        <i class="bi bi-pencil-fill"></i>
        Edit
      <% end %>
    <% end %>
  </td>
</tr>