<div id="<%= dom_id delivery %>">
  <p>
    <strong>Status:</strong>
    <%= delivery.status.capitalize %>
  </p>

  <p>
    <strong>Pickup address:</strong>
    <%= delivery.pickup_address.one_line %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= delivery.delivery_address %>
  </p>

  <p>
    <strong>Address notes:</strong>
    <%= delivery.address_notes %>
  </p>
  
  <p>
    <strong>Item description:</strong>
    <%= delivery.description %>
  </p>

  <p>
    <strong>Weight class:</strong>
    <%= delivery.weight_class %>
  </p>

  <p>
    <strong>Length class:</strong>
    <%= delivery.length_class %>
  </p>

  <p>
    <strong>Order reference:</strong>
    <%= delivery.order_reference %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= delivery.delivery_type.capitalize %>
  </p>

  <p>
    <strong>Scheduled for:</strong>
    <%= delivery.scheduled_date %>
  </p>

  <p>
    <strong>Recipient:</strong><br/>
    <strong>Name:</strong> <%= delivery.recipient_name %><br/>
    <strong>Phone number:</strong> <%= delivery.recipient_phone %><br/>
    <strong>Email:</strong> <%= delivery.recipient_email %><br/>
  </p>

  <p>
    <strong>Other notes:</strong>
    <%= delivery.other_notes %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= delivery.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= delivery.updated_at %>
  </p>

</div>
