<tr>
  <td><%= link_to delivery.id, delivery_path(delivery), data: { turbo: false } %></td>
  <td><%= delivery.created_at.strftime('%Y-%m-%d %H:%M') %></td>
  <td><%= delivery.user.full_name %></td>
  <td><%= delivery.delivery_address %></td>
  <td><%= delivery.status&.capitalize %></td>
  <td><%= delivery.delivered_at&.strftime('%Y-%m-%d %H:%M') %></td>
  <td></td>
  <td><%= delivery.rider.first_name %></td>
  <td>
    <% if current_user.rider? %>
      <%= button_to "Deliver", delivery_path(delivery, delivery: {rider_id: current_user.id}), data: { turbo: false }, method: :patch, class: 'btn btn-primary' %>
    <% else %>
      <% if delivery.ineditable? %>
        <%= link_to new_delivery_path(old_delivery_id: delivery.id), data: { turbo: false } do %>
          <i class="bi bi-arrow-repeat"></i>
          Rebook
        <% end %>
      <% else %>
        <%= link_to edit_delivery_path(delivery), data: { turbo: false } do %>
          <i class="bi bi-pencil-fill"></i>
          Edit
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
