<div id="<%= dom_id delivery %>">
  <div class="row">
    <div class="col-12 col-md-9 h-100">
      <div class="map-container">
        <iframe
          class="map h-100 w-100"
          id="google-embed-map"
          src=<%= iframe_source(delivery: @delivery) %>
          data-fallback-url= <%= google_map_fallback_url(pickup_address: delivery.pickup_address) %>
          data-google-api-key=<%= ENV['GOOGLE_API_KEY'] %>
          >
        </iframe>
      </div>
      <div class="row mt-0 mt-md-3 delivery-details">
        <div class="col-12 col-md-3 d-block d-md-none mt-3 mt-md-0">
          <div>
            <p>
              <span class="bold"><%= t("delivery.form.address.delivery-number-label") %></span>: <span>#<%= @delivery.id %></span>
            <p>
          </div>
          <% if @delivery.delivered? %>
            <div>
              <p><%= t("delivery.show.delivered-at") %></p>
              <p class="semi-bold">
                <span><%= format_delivery_day(@delivery.delivered_at) %></span>
                <span class="expected-time"><%= format_delivery_time(@delivery.delivered_at) %></span>
              </p>
            </div>
          <% else %>
            <div>
              <p><%= t("delivery.show.expected-at") %></p>
              <p class="semi-bold">
                <span><%= format_delivery_day(@delivery.expected_time) %></span>
                <span class="expected-time"><%= format_delivery_time(@delivery.expected_time) %></span>
              </p>
            </div>
          <% end %>
          <div>
            <p>
              <span class="bold"><%= t("delivery.form.address.pickup-label") %></span>: <span><%= @delivery.pickup_address.one_line %></span>
            <p>
          </div>

          <div>
            <p>
              <span class="bold"><%= t("delivery.form.address.delivery-label") %></span>: <span><%= @delivery.delivery_address %></span>
            <p>
          </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
          <p class="semi-bold"><%= t("delivery.show.rider") %></p>
          <div class="row">
            <% if @delivery.rider.present? %>
              <div class="col-3 p-md-0">
                <% if @delivery.rider.image.attached? %>
                  <%= image_tag @delivery.rider.image.variant(:small_avatar), class: 'img-fluid rounded' %>
                <% end %>
              </div>
              <div class="col-6 rider-info">
                <span class="semi-bold"><%= @delivery.rider&.first_name %></span><br/>
                <div>
                  <% 4.times do%>
                    <i class="bi bi-star-fill"></i>
                  <% end %>
                  <i class="bi bi-star-half"></i>
                </div>
              </div>
              <div class="col-3 p-md-0">
                <%= link_to(whatsapp_link(@delivery), class: 'btn btn-primary btn-radio semi-bold') do %>
                  <i class="bi bi-whatsapp"></i>
                <% end %>
              </div>
            <% else %>
              <p>We are finding a rider to complete the delivery</p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
          <p class="semi-bold"><%= t("delivery.show.status") %></p>
          <p><%= @delivery.status.humanize %></p>
          <%= t("delivery.show.#{@delivery.status}-message") %>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
          <p class="semi-bold"><%= t("delivery.show.recipient") %></p>
          <%= delivery.recipient_name %><br/>
          <%= delivery.recipient_phone %><br/>
          <%= delivery.recipient_email %><br/>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
          <p class="semi-bold"><%= t("delivery.show.order-details") %></p>
          <p class="overflow-ellipsis"><%= delivery.description %></p>
          <span class="bold"><%= t("delivery.show.order-reference") %></span>: <span><%= delivery.order_reference %></span><br/>
          <span class="bold"><%= t("delivery.show.weight") %></span>: <span><%= delivery.weight_class %> kg</span><br/>
          <span class="bold"><%= t("delivery.show.length") %></span>: <span><%= delivery.length_class %> m</span><br/>
        </div> 
      </div>
    </div>
    <div class="col-12 col-md-3 mt-3 mt-md-0">
      <div class="d-none d-md-block">
        <div>
          <p>
            <span class="bold"><%= t("delivery.form.address.delivery-number-label") %></span> <span>#<%= @delivery.id %></span>
          <p>
        </div>
        <% if @delivery.delivered? %>
          <div>
            <p><%= t("delivery.show.delivered-at") %></p>
            <p class="semi-bold">
              <span><%= format_delivery_day(@delivery.delivered_at) %></span>
              <span class="expected-time"><%= format_delivery_time(@delivery.delivered_at) %></span>
            </p>
          </div>
        <% else %>
          <div>
            <p><%= t("delivery.show.expected-at") %></p>
            <p class="semi-bold">
              <span><%= format_delivery_day(@delivery.expected_time) %></span>
              <span class="expected-time"><%= format_delivery_time(@delivery.expected_time) %></span>
            </p>
          </div>
        <% end %>
        <div>
          <p>
            <span class="bold"><%= t("delivery.form.address.pickup-label") %></span>: <span><%= @delivery.pickup_address.one_line %></span>
          <p>
        </div>

        <div>
          <p>
            <span class="bold"><%= t("delivery.form.address.delivery-label") %></span>: <span><%= @delivery.delivery_address %></span>
          <p>
        </div>
      </div>

      
      <div class="mb-3">
        <% if current_user.admin? || (!current_user.rider? && !@delivery.ineditable?) %>
          <%= link_to edit_delivery_path(@delivery), class: 'btn btn-primary col-12' do %>
            <i class="bi bi-pencil"></i>
            <%= t("delivery.show.edit-button-label") %>
          <% end %>
        <% elsif current_user.rider? && @delivery.rider_id.nil? %>
          <%= button_to delivery_path(@delivery, delivery: {rider_id: current_user.id}), data: { turbo: false }, method: :patch, class: 'btn btn-primary col-12' do %>
            <i class="bi bi-truck"></i>
            Deliver
          <% end %>
        <% elsif current_user.rider? && @delivery.ready? %>
          <%= button_to delivery_path(@delivery, delivery: {status: "delivering"}), data: { turbo: false }, method: :patch, class: 'btn btn-primary col-12' do %>
            <i class="bi bi-truck"></i>
            Picked up?
          <% end %>
        <% elsif current_user.rider? && @delivery.delivering? %>
          <%= button_tag data: { turbo: false, bs_toggle: "modal", bs_target: "#deliveredModal"}, class: 'btn btn-primary col-12' do %>
            <i class="bi bi-check2-circle"></i>
            Delivered?
          <% end %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= mail_to "contact@foremoresupplies.com", subject: "Something went wrong with my delivery", class: 'btn btn-danger col-12' do %>
          <i class="bi bi-bug"></i>
          <%= t("delivery.show.contact-button-label") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
