<div id="<%= dom_id delivery %>">
  <p>
    <strong>Status:</strong>
    <%= delivery.status %>
  </p>

  <p>
    <strong>Pickup address:</strong>
    <%= delivery.pickup_address_id %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= delivery.delivery_address_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= delivery.type %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= delivery.weight %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= delivery.length %>
  </p>

  <p>
    <strong>Order reference:</strong>
    <%= delivery.order_reference %>
  </p>

  <p>
    <strong>Other notes:</strong>
    <%= delivery.other_notes %>
  </p>

</div>
