
<%= form_with(model: delivery, id: "delivery-form") do |form| %>
  <% if delivery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
        <% delivery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="form-group mb-3 button-and-explainer">
          <div class="d-grid gap-2 col-6 mx-auto mb-2">
            <%= button_tag t("delivery.form.integrations.orders-button-label"), type: 'button', class: 'btn btn-primary semi-bold' %>
          </div>
          <div class="form-text mb-2"><%=  t("delivery.form.integrations.explainer") %></div>
        </div>

        <div class="form-group mb-3">
          <h4><%= t("delivery.form.address.heading") %></h4>
          <div class="col-6">
            <div>
              <p><span class="bold"><%= t("delivery.form.address.pickup-label") %></span>: <%= @pickup_address.one_line %><p>
            </div>
          
            <div>
              <%= form.text_field :delivery_address, placeholder: t("delivery.form.address.delivery-placeholder"), class: 'form-control mb-2' %>
            </div>

            <div>
              <%= form.text_area :address_notes, placeholder: t("delivery.form.address.notes-placeholder"), class: 'form-control mb-2' %>
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4><%= t("delivery.form.item-details.heading") %></h4>

          <div class="form-group mb-3 button-and-explainer">
            <div class="d-grid gap-2 col-6 mx-auto mb-2">
              <%= button_tag t("delivery.form.item-details.inventory-button-label"), type: 'button', class: 'btn btn-primary semi-bold' %>
            </div>
            <div class="form-text mb-2"><%=  t("delivery.form.item-details.inventory-explainer") %></div>
          </div>

          <div>
            <%= form.text_area :description, placeholder: t("delivery.form.item-details.description-placeholder"), class: 'form-control mb-2' %>
          </div>

          <div>
            <%= form.text_field :order_reference, placeholder: t("delivery.form.item-details.reference-placeholder"), class: 'form-control mb-2' %>
          </div>

          <div class="row">
            <div class="col-6">
              <h5><%= t("delivery.form.item-details.weight-label") %></h5>
              <div class="d-flex justify-content-around" role="group">
                <%= form.radio_button :weight, 1, class: "btn-check" %>
                <%= form.label :weight_1, "< 15", class: 'btn btn-outline-primary btn-radio' %>

                <%= form.radio_button :weight, 2, class: "btn-check" %>
                <%= form.label :weight_2, "15 - 300", class: 'btn btn-outline-primary btn-radio' %>

                <%= form.radio_button :weight, 3, class: "btn-check" %>
                <%= form.label :weight_3, "300 - 800", class: 'btn btn-outline-primary btn-radio' %>
              </div>
            </div>

            <div class="col-6">
              <h5><%= t("delivery.form.item-details.length-label") %></h5>
              <div class="d-flex justify-content-around" role="group">
                <%= form.radio_button :length, 1, class: "btn-check" %>
                <%= form.label :length_1, "< 1.4", class: 'btn btn-outline-primary btn-radio' %>

                <%= form.radio_button :length, 2, class: "btn-check" %>
                <%= form.label :length_2, "1.4 - 2.2", class: 'btn btn-outline-primary btn-radio' %>

                <%= form.radio_button :length, 3, class: "btn-check" %>
                <%= form.label :length_3, "2.2 - 3.4", class: 'btn btn-outline-primary btn-radio' %>

                <%= form.radio_button :length, 4, class: "btn-check" %>
                <%= form.label :length_4, "3.4 - 4.4", class: 'btn btn-outline-primary btn-radio' %>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mb-3">
          <h4><%= t("delivery.form.delivery-type.heading") %></h4>

          <div class="d-flex justify-content-around mb-3" role="group">
            <%= form.radio_button :delivery_type, Delivery.delivery_types["instant"], class: "btn-check", checked: true %>
            <%= form.label :delivery_type_0, "ASAP", class: 'btn btn-outline-primary btn-radio col-4', data: {bs_toggle: "collapse", bs_target: "#collapseExample.show"}, aria: { expanded: "false", controls: "collapseExample"} %>
            
            <%= form.radio_button :delivery_type, Delivery.delivery_types["scheduled"], class: "btn-check" %>
            <%= form.label :delivery_type_1, "Scheduled", class: 'btn btn-outline-primary btn-radio col-4', data: {bs_toggle: "collapse", bs_target: "#collapseExample:not(.show)"}, aria: { expanded: "false", controls: "collapseExample"} %>
          </div>

          <div class="collapse" id="collapseExample">
            <%= form.label :scheduled_date, t("delivery.form.delivery-type.scheduled-date.heading"), style: "display: block", class: 'form-label semi-bold' %>
            <%= form.datetime_local_field :scheduled_date, value: DateTime.now.strftime('%Y-%m-%dT%H:%M'), class: 'form-control mb-2' %>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4><%=  t("delivery.form.contact-information.heading") %></h4>
          <div class="form-text mb-2"><%=  t("delivery.form.contact-information.explainer") %></div>
          <%= form.text_field :recipient_name, placeholder: t("delivery.form.contact-information.name-placeholder"), class: 'form-control mb-2' %>
          <%= form.text_field :recipient_email, placeholder: t("delivery.form.contact-information.email-placeholder"), class: 'form-control mb-2' %>
          <%= form.text_field :recipient_phone, placeholder: t("delivery.form.contact-information.phone-placeholder"), class: 'form-control mb-2' %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :other_notes, style: "display: block", class: 'form-label semi-bold' %>
          <%= form.text_area :other_notes, placeholder: t("delivery.form.other-notes.placeholder"), class: 'form-control mb-2' %>
        </div>

        <div class="row d-flex justify-content-center">
          <%= form.submit t("delivery.form.submit-button-label"), class: "btn btn-success col-6 semi-bold" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
