<%= form_with(model: delivery, id: "delivery-form") do |form| %>
  <% if delivery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
        <% delivery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 order-2 order-md-1">
        <%= form.hidden_field :status, value: "pending" %>
        
        <div class="form-group mb-3 button-and-explainer">
          <div class="d-grid gap-2 col-12 col-md-6 mx-auto mb-2">
            <%= button_tag t("delivery.form.integrations.orders-button-label"), type: 'button', class: 'btn btn-primary semi-bold', disabled: true %>
          </div>
          <div class="form-text mb-2"><%=  t("delivery.form.integrations.explainer_html") %></div>
        </div>

        <div class="form-group mb-3">
          <div class="row">
            <div class="col-md-6 col-sm-12 d-inline-block">
              <h4><%= t("delivery.form.address.heading") %></h4>
              <div>
                <% pickup_address = Address.find(1)%>
                <p><span class="bold"><%= t("delivery.form.address.pickup-label") %></span>: <span id="delivery_pickup_address"><%= pickup_address.one_line %></span><p>
                <%= form.hidden_field :pickup_address_id, value: pickup_address.id %>
              </div>
            
              <div class="form-floating mb-2">
                <%= form.text_field :delivery_address, placeholder: "", class: 'form-control', required: true %>
                <%= form.label :delivery_address, t("delivery.form.address.delivery-placeholder") %>
              </div>

              <div class="mb-2">
                <%= form.text_area :address_notes, placeholder: t("delivery.form.address.notes-placeholder"), class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 d-inline-block">
              <h4><%=  t("delivery.form.contact-information.heading") %></h4>
              <div class="form-text mb-2"><%=  t("delivery.form.contact-information.explainer") %></div>
              <div class="form-floating mb-2">
                <%= form.text_field :recipient_name, class: 'form-control' %>
                <%= form.label :recipient_name, t("delivery.form.contact-information.name-placeholder"), required: true %>
              </div>
              <div class="form-floating mb-2">
                <%= form.email_field :recipient_email, class: 'form-control' %>
                <%= form.label :recipient_email, t("delivery.form.contact-information.email-placeholder") %>
              </div>
              <div class="form-floating mb-2">
                <%= form.telephone_field :recipient_phone, class: 'form-control' %>
                <%= form.label :recipient_phone, t("delivery.form.contact-information.phone-placeholder"), required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <h4 class="mb-3"><%= t("delivery.form.delivery-type.heading") %></h4>

          <div class="d-flex justify-content-around mb-3" role="group">
            <% if delivery.persisted? %>
              <%= form.radio_button :delivery_type, Delivery.delivery_types["instant"], class: "btn-check", checked: delivery.delivery_type == "instant" %>
            <% else %>
              <%= form.radio_button :delivery_type, Delivery.delivery_types["instant"], class: "btn-check", checked: true %>
            <% end %>
            <%= form.label :delivery_type_0, "ASAP", class: 'btn btn-outline-primary btn-radio col-4 semi-bold', data: {bs_toggle: "collapse", bs_target: "#collapseExample.show"}, aria: { expanded: "false", controls: "collapseExample"} %>
            
            <%= form.radio_button :delivery_type, Delivery.delivery_types["scheduled"], class: "btn-check", checked: delivery.delivery_type == "scheduled" %>
            <%= form.label :delivery_type_1, "Scheduled", class: 'btn btn-outline-primary btn-radio col-4 semi-bold', data: {bs_toggle: "collapse", bs_target: "#collapseExample:not(.show)"}, aria: { expanded: "false", controls: "collapseExample"} %>
          </div>

          <div class="collapse <%= delivery&.delivery_type == "scheduled" ? "show" : "" %>" id="collapseExample">
            <%= form.label :scheduled_date, t("delivery.form.delivery-type.scheduled-date.heading"), style: "display: block", class: 'form-label semi-bold' %>
            <%= form.datetime_local_field :scheduled_date, value: DateTime.now.strftime('%Y-%m-%d %H:%M'), class: 'form-control mb-2' %>
          </div>
        </div>

        <div class="form-group mb-3">
          <h4><%= t("delivery.form.item-details.heading") %></h4>

          <div class="form-group mb-3 button-and-explainer">
            <div class="d-grid gap-2 col-12 col-md-6 mx-auto mb-2">
              <%= button_tag t("delivery.form.item-details.inventory-button-label"), type: 'button', class: 'btn btn-primary semi-bold', disabled: true %>
            </div>
            <div class="form-text mb-2"><%=  t("delivery.form.item-details.inventory-explainer_html") %></div>
          </div>

          <div class="form-floating mb-2">
            <%= form.text_area :description, class: 'form-control mb-2' %>
            <%= form.label :description, t("delivery.form.item-details.description-placeholder") %>
          </div>

          <div class="form-floating mb-2">
            <%= form.text_field :order_reference, class: 'form-control' %>
            <%= form.label :order_reference, t("delivery.form.item-details.reference-placeholder") %>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
              <%= form.label :weight_class, t("delivery.form.item-details.weight-label"),  style: "display: block", class: 'form-label semi-bold' %>
              <div class="d-flex justify-content-around" role="group">
                <% if delivery.persisted? %>
                  <%= form.radio_button :weight_class, Delivery.weight_classes["< 15"], class: "btn-check", checked: delivery.weight_class == "< 15" %>
                <% else %>
                  <%= form.radio_button :weight_class, Delivery.weight_classes["< 15"], class: "btn-check", checked: true %>
                <% end %>
                <%= form.label :weight_class_0, "< 15", class: 'btn btn-outline-primary btn-radio semi-bold' %>

                <%= form.radio_button :weight_class, Delivery.weight_classes["15 - 300"], class: "btn-check", checked: delivery.weight_class == "15 - 300" %>
                <%= form.label :weight_class_1, "15 - 300", class: 'btn btn-outline-primary btn-radio semi-bold' %>

                <%= form.radio_button :weight_class, Delivery.weight_classes["300 - 800"], class: "btn-check", checked: delivery.weight_class == "300 - 800" %>
                <%= form.label :weight_class_2, "300 - 800", class: 'btn btn-outline-primary btn-radio semi-bold' %>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
              <%= form.label :length_class, t("delivery.form.item-details.length-label"),  style: "display: block", class: 'form-label semi-bold' %>
              <div class="d-flex justify-content-around" role="group">
                <% if delivery.persisted? %>
                  <%= form.radio_button :length_class, Delivery.length_classes["< 1.4"], class: "btn-check", checked: delivery.length_class == "< 1.4" %>
                <% else %>
                  <%= form.radio_button :length_class, Delivery.length_classes["< 1.4"], class: "btn-check", checked: true %>
                <% end %>
                <%= form.label :length_class_0, "< 1.4", class: 'btn btn-outline-primary btn-radio semi-bold' %>

                <%= form.radio_button :length_class, Delivery.length_classes["1.4 - 2.2"], class: "btn-check", checked: delivery.length_class == "1.4 - 2.2" %>
                <%= form.label :length_class_1, "1.4 - 2.2", class: 'btn btn-outline-primary btn-radio semi-bold' %>

                <%= form.radio_button :length_class, Delivery.length_classes["2.2 - 3.4"], class: "btn-check", checked: delivery.length_class == "2.2 - 3.4" %>
                <%= form.label :length_class_2, "2.2 - 3.4", class: 'btn btn-outline-primary btn-radio semi-bold' %>

                <%= form.radio_button :length_class, Delivery.length_classes["3.4 - 4.4"], class: "btn-check", checked: delivery.length_class == "3.4 - 4.4" %>
                <%= form.label :length_class_3, "3.4 - 4.4", class: 'btn btn-outline-primary btn-radio semi-bold' %>
              </div>
            </div>  
          </div>
        </div>

        <div class="form-group mb-3">
          <h4 class="mb-3">Any other notes</h4>
          <%= form.text_area :other_notes, placeholder: t("delivery.form.other-notes.placeholder"), class: 'form-control mb-2' %>
        </div>

        <div class="row d-md-none d-flex justify-content-center mb-3">
          <%= form.submit t("delivery.form.submit-button-label"), class: "btn btn-success col-12 semi-bold" %>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 order-1 order-md-2 sticky-top">
        <div class="sticky-top">
          <div class="form-group mb-5 map-container">
            <% if @delivery.persisted? %>
              <% iframe_source = google_map(pickup_address: @delivery.pickup_address.one_line, delivery_address: @delivery.delivery_address) %>
            <% else %>
              <% iframe_source = google_map(pickup_address: pickup_address.one_line) %>
            <% end %>
            <iframe
              class="map"
              id="google-embed-map"
              src=<%= iframe_source %>
              data-fallback-url= <%= google_map_fallback_url(pickup_address: pickup_address.one_line) %>
              data-google-api-key=<%= ENV['GOOGLE_API_KEY'] %>
              >
            </iframe>
          </div>

          <div class="row d-none d-md-flex justify-content-center">
            <%= form.submit t("delivery.form.submit-button-label"), class: "btn btn-success col-6 semi-bold" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
