<tr>
  <td><%= link_to delivery.id, delivery_path(delivery), data: { turbo: false } %></td>
  <td><%= delivery.created_at.strftime('%Y-%m-%d %H:%M') %></td>
  <td><%= delivery.delivery_address %></td>
  <td><%= when_is_delivery(delivery) %></td>
  <td>
    <% if current_user.rider? && delivery.rider_id.nil? %>
      <%= button_to "Deliver", delivery_path(delivery, delivery: {rider_id: current_user.id}), data: { turbo: false }, method: :patch, class: 'btn btn-primary mb-2' %>
    <% end %>
    <%= link_to "Details", delivery_path(delivery), data: { turbo: false }, class: 'btn btn-secondary' %>
  </td>
</tr>
