<%= title("Deliveries")%>
<div id="deliveries">
  <table class="table table-hover table-borderless table-responsive">
    <thead>
      <tr>
        <th scope="col">
          <div class="th-inner">
            #
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Created at
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Delivery Address
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Status
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Delivered at
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Rating
          </div>
        </th>
        <th scope="col">
          <div class="th-inner">
            Actions
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= link_to delivery.id, delivery_path(delivery) %></td>
          <td><%= delivery.created_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td><%= delivery.delivery_address %></td>
          <td><%= delivery.status.capitalize %></td>
          <td><%= delivery.delivered_at&.strftime('%Y-%m-%d %H:%M') %></td>
          <td></td>
          <td>
            <% if delivery.delivered? %>
              <%= link_to new_delivery_path(old_delivery_id: delivery.id) do %>
                <i class="bi bi-arrow-repeat"></i>
                Rebook
              <% end %>
            <% else %>
              <%= link_to edit_delivery_path(delivery) do %>
                <i class="bi bi-pencil-fill"></i>
                Edit
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
</div>
