<ul class="navbar-nav me-auto mb-lg-0">
  <li class="nav-item <%= is_users_path_active? ? "active" : "" %>">
    <%= link_to(edit_my_user_path, class: 'nav-link d-flex') do %>
      <i class="bi bi-person-circle mr-3"></i>
      <span class="overflow-ellipsis"><%= current_user&.first_name || 'User' %></span>
    <% end %>
  </li>
  <li class="nav-item <%= is_new_deliveries_path_active? ? "active" : "" %>">
    <%= link_to(new_delivery_path, class: 'nav-link d-flex') do %>
      <i class="bi bi-pencil-fill mr-3"></i>
      <span class="ml-3 overflow-ellipsis"><%=  t("delivery.new-link") %></span>
    <% end %>
  </li>
  <li class="nav-item <%= is_deliveries_path_active? ? "active" : "" %>">
    <%= link_to(deliveries_path, class: 'nav-link d-flex') do %>
      <i class="bi bi-truck mr-3"></i>
      <span class="ml-3 overflow-ellipsis"><%=  t("delivery.list-link") %></span>
    <% end %>
  </li>
  <li class="nav-item <%= is_teams_path_active? ? "active" : "" %>">
    <%= link_to(my_team_path, class: 'nav-link d-flex') do %>
      <i class="bi bi-people-fill mr-3"></i>
      <span class="ml-3 overflow-ellipsis"><%=  t("team.single-link") %></span>
    <% end %>
  </li>
  <li class="nav-item <%= is_settings_path_active? ? "active" : "" %>">
    <%= link_to(settings_path, class: 'nav-link d-flex') do %>
      <i class="bi bi-gear mr-3"></i>
      <span class="ml-3 overflow-ellipsis"><%=  t("settings.list-link") %></span>
    <% end %>
  </li>
</ul>
