<div class="form-group mb-3">
  <div class="row">
    <div class="d-inline-block">
      <div class="mb-3">
        <h4><%= t("delivery.form.address.heading") %></h4>
      </div>
      <% if current_user.team %>
        <div>
          <div id="delivery_pickup_address" class="d-none"><%= pickup_address.one_line %></div>
          <%= form.hidden_field :pickup_address_id, value: pickup_address.id %>
        </div>
      <% else %>
        <div class="form-floating mb-2">
          <%= form.select :pickup_address_id, pickup_addresses_to_display, {prompt: "Select address"}, {class: "form-control form-select", required: true} %>
          <%= form.label :pickup_address_id %>
        </div>
      <% end %>

      <div class="form-floating mb-2">
        <%= form.text_field :delivery_address, placeholder: "", class: 'form-control', required: true %>
        <%= form.label :delivery_address, t("delivery.form.address.delivery-placeholder") %>
      </div>
    </div>
  </div>
  <%= form.hidden_field :travel_time, value: 20 %>
  <%= form.hidden_field :prep_time, value: 20 %>
</div>