<div class="mb-3">
  <h4 class="d-inline"><%= t("delivery.form.item-details.heading") %></h4>
  <%= render "deliveries/form/tooltip", content: t("delivery.form.item-details.explainer") %>
</div>
<div class="form-floating mb-2">
  <%= form.text_field :order_reference, class: 'form-control' %>
  <%= form.label :order_reference, t("delivery.form.item-details.reference-placeholder") %>
</div>

<div class="form-floating mb-2">
  <%= form.text_area :description, placeholder: t("delivery.form.item-details.description-placeholder"), class: 'form-control mb-2', required: true %>
</div>