<div class="modal" id="products-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title semi-bold">Find products</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: products_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "products" } do |form| %>
          <div class="row height d-flex justify-content-end mb-2 p-0 pe-md-2">
            <div class="col-12">
              <div class="form-floating">
                <%= form.text_field :query, class: 'form-control', value: params[:query], data: { action: "input->search-form#search" } %>
                <%= form.label :query, "Search by title" %>
              </div>
            </div>
          </div>
        <% end %>
        <%= turbo_frame_tag "products", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>
          <div id="products">
            <div class="container">
              <div class="row">
                <% if @products&.empty? %>
                  <div class="col-12">
                    <h5 class="text-center">No products found</h5>
                  </div>
                <% else %>
                  <% @products.each do |product| %>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                        <div class="card-body text-center">
                          <%= image_tag product.image_url, class: "card-img-top", width: "100px" %>
                          <div class="card-title product-name"><%= product.name.capitalize %></div>
                          <%= form_with(model: DeliveryItem.new, method: :post, class: "product-form") do |form| %>
                            <%= form.hidden_field :product_id, value: product.id, class: "product-id" %>
                            <%= form.number_field :quantity, value: 1, class: "mb-2 form-control product-quantity" %>
                            <%= form.submit "Add", class: "btn btn-primary add-to-delivery-button" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        
      </div>

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div> 
  </div>
</div>
