<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="form-floating mb-2 col-3">
      <%= f.text_field field, class: 'form-control', required: true %>
      <%= f.label field %>
    </div>
  <% end -%>

  <div class="actions col-12 col-md-3">
    <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary mb-3 w-100" %>
  </div>
<% end %>
