<ul class="nav flex-column" id="desktop-nav">
  <li class="nav-item flex-column <%= is_new_deliveries_path_active? ? "active" : "" %>">
    <%= link_to(new_delivery_path, class: 'nav-link flex-column', data: { turbo: false }) do %>
      <i class="bi bi-pencil-fill"></i>
      <p class="overflow-ellipsis"><%=  t("delivery.new-link") %></p>
    <% end %>
  </li>
  <li class="nav-item flex-column <%= is_deliveries_path_active? ? "active" : "" %>">
    <%= link_to(deliveries_path, class: 'nav-link flex-column') do %>
      <i class="bi bi-truck"></i>
      <p class="overflow-ellipsis"><%=  t("delivery.list-link") %></p>
    <% end %>
  </li>
  <li class="nav-item flex-column <%= is_teams_path_active? ? "active" : "" %>">
    <%= link_to(my_team_path, class: 'nav-link flex-column') do %>
      <i class="bi bi-people-fill mr-3"></i>
      <p class="overflow-ellipsis"><%=  t("team.single-link") %></p>
    <% end %>
  </li>
  <li class="nav-item flex-column <%= is_settings_path_active? ? "active" : "" %>">
    <%= link_to(settings_path, class: 'nav-link flex-column') do %>
      <i class="bi bi-gear mr-3"></i>
      <p class="overflow-ellipsis"><%=  t("settings.list-link") %></p>
    <% end %>
  </li>
  <li class="nav-item flex-column text-center mt-auto <%= is_users_path_active? ? "active" : "" %>">
    <%= link_to(edit_my_user_path, class: 'nav-link flex-column') do %>
      <i class="bi bi-person-circle"></i>
      <p class="overflow-ellipsis"><%= current_user&.first_name || 'User' %></p>
    <% end %>
  </li>
</ul>
