<ul class="nav flex-row header mb-5 justify-content-between" id="desktop-header">
  <li class="nav-item col-4">
    <%= link_to(authenticated_root_path, class: 'nav-link logo-container') do %>
      <%= image_tag "logo.png", alt: "Foremore", class: "logo" %>
    <% end %>
  </li>


  <li class="nav-item col-4">
    <% if user_signed_in? && (!current_user.guest? || !current_user.role.nil?) && !current_user.admin? %>
      <div class="d-flex justify-content-end">
        <%= link_to(edit_company_path(current_user.company), class: 'nav-link logo-container') do %>
          <%= image_tag current_user.company.image, alt: "#{current_user.company.name}-logo", class: "logo" %>
        <% end %>
      </div>
      <div class="d-flex justify-content-end">
        <p class="overflow-ellipsis company-address"><%= current_user.team.address.one_line %></p>
      </div>
    <% end %>
  </li>
</ul>
<nav class="navbar navbar-light mb-4 sticky-top" id="mobile-header">
  <div class="container-fluid">
    <%= link_to(authenticated_root_path, class: 'nav-link logo-container') do %>
      <%= image_tag "logo.png", alt: "Foremore", class: "logo foremore-logo" %>
    <% end %>

    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <%= link_to(edit_user_registration_path, class: 'nav-link d-flex') do %>
              <i class="bi bi-person-circle mr-3"></i>
              <span class="overflow-ellipsis"><%= current_user&.first_name || 'User' %></span>
            <% end %>
          </li>
          <li class="nav-item <%= is_new_deliveries_path_active? ? "active" : "" %>">
            <%= link_to(new_delivery_path, class: 'nav-link d-flex') do %>
              <i class="bi bi-pencil-fill mr-3"></i>
              <span class="ml-3 overflow-ellipsis"><%=  t("delivery.new-link") %></span>
            <% end %>
          </li>
          <li class="nav-item <%= is_deliveries_path_active? ? "active" : "" %>"">
            <%= link_to(deliveries_path, class: 'nav-link d-flex') do %>
              <i class="bi bi-truck mr-3"></i>
              <span class="ml-3 overflow-ellipsis"><%=  t("delivery.list-link") %></span>
            <% end %>
          </li>
          <li class="nav-item <%= is_settings_path_active? ? "active" : "" %>">
            <%= link_to(edit_user_registration_path, class: 'nav-link d-flex') do %>
              <i class="bi bi-gear mr-3"></i>
              <span class="ml-3 overflow-ellipsis"><%=  t("settings.list-link") %></span>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
