<ul class="nav flex-row header mb-3 justify-content-between" id="desktop-header">
  <li class="nav-item col-4">
    <%= link_to(authenticated_root_path, class: 'nav-link logo-container') do %>
      <%= image_tag "logo.png", alt: "Foremore", class: "logo" %>
    <% end %>
  </li>

  <% if user_signed_in? && !current_user.company.nil? && !current_user.admin? %>
    <li class="nav-item col-4">
      <div class="d-flex justify-content-end">
        <%= link_to(edit_my_company_path, class: 'nav-link logo-container') do %>
          <%= image_tag current_user.company.image, alt: "#{current_user.company.name}-logo", class: "logo" %>
        <% end %>
      </div>
      <div class="d-flex justify-content-end">
        <p class="overflow-ellipsis company-address"><%= current_user.team.address.one_line %></p>
      </div>
    </li>
  <% end %>
</ul>
<%= render 'layouts/mobile_navbar/navbar' %>
