<!DOCTYPE html>
<html>
  <head>
    <title>Foremore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}&libraries=places", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/header" %>
    <div id="main" class="container">
      <%= yield %>
    </div>
  </body>
</html>
