<!DOCTYPE html>
<html>
  <head>
    <title>
      foremore
      <%= if content_for?(:title) then ' | ' + yield(:title) end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}&libraries=places", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <% if Rails.env.production? %>
      <%= render "layouts/hotjar" %>
    <% end %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/navbar/navbar" %>
      
    <% end %>
    <%= render "layouts/header" %>
    <div id="main" class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
